<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mon site web</title>
</head>
<body>
    <h1>BASKET</h1>
    <nav>
    <ul>
        <li><a href="{% url 'index' %}">Players</a></li>
        <li><a href="{% url 'teams' %}">Teams</a></li>
        <li><a href="{% url 'games' %}">Matchs</a></li>
    </ul>
    </nav>
    {% block content %}
        Hello {{ user.username }}!
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% endblock %}

    <h1>NBA Players List</h1>
        {% for player in players_data.data %}
            <div style = "border:black; border-width:5px; border-style:solid; width:250px">
                <li>
                    <strong>Name:</strong> <a href="{% url 'players_infos' player.id %}">{{ player.first_name }} {{ player.last_name }}</a><br><br>
                </li>
            </div>
            <br>
        {% endfor %}

   {% if players_data.meta.next_page %}
        <a href="?page={{ players_data.meta.current_page|add:-1 }}">Previous Page</a>
        <a href="?page={{ players_data.meta.current_page|add:1 }}">Next Page</a>
    {% endif %}



</body>
</html>
