<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Players Infos</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'index' %}">Players</a></li>
        <li><a href="{% url 'teams' %}">Teams</a></li>
        <li><a href="{% url 'games' %}">Matchs</a></li>
        <li><a href="{{request.META.HTTP_REFERER}}">Go back</a></li>
    </ul>
    </nav>
    <h1>Matchs Details</h1>
    <p>
<div style = "border:black; border-width:5px; border-style:solid; width:250px">
        <strong>Date:</strong> {{ games_data.date }}<br>
        <strong>Home Team Score:</strong> {{ games_data.home_team_score }}<br>
        <strong>Visitor Team Score:</strong> {{ games_data.visitor_team_score }}<br>
        <strong>Season:</strong> {{ games_data.season }}<br>
        <strong>Period:</strong> {{ games_data.period }}<br>
        <strong>Status:</strong> {{ games_data.status }}<br>
        <strong>Time:</strong> {{ games_data.time }}<br>
        <strong>PostSeason:</strong> {{ games_data.postseason}}<br>
</div><br>
<div style = "border:black; border-width:5px; border-style:solid; width:250px">
        <strong>Home Team:</strong> <a href="{% url 'team_details' games_data.home_team.id %}">{{ games_data.home_team.abbreviation}}</a><br>
</div><br>
<div style = "border:black; border-width:5px; border-style:solid; width:250px">
        <strong>Visitor Team:</strong> <a href="{% url 'team_details' games_data.visitor_team.id %}">{{ games_data.visitor_team.abbreviation}}</a><br>
</div>
    </p>
</body>
</html>