<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'index' %}">Players</a></li>
        <li><a href="{% url 'teams' %}">Teams</a></li>
        <li><a href="{% url 'games' %}">Matchs</a></li>
        <li><a href="{{request.META.HTTP_REFERER}}">Go back</a></li>
    </ul>
    </nav>
    {% block content %}
        Hello {{ user.username }}!
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% endblock %}

<h1>NBA Matchs List</h1>
        {% for games in games_data.data %}
            <div style = "border:black; border-width:5px; border-style:solid; width:250px">
                <li>
                    <strong>Name:</strong> <a href="{% url 'matchs_details' games.id %}">{{ games.home_team.abbreviation}} VS {{ games.visitor_team.abbreviation}}</a><br><br>
                    <strong>Date:</strong> {{ games.date}}<br><br>
                </li>
            </div>
            <br>
        {% endfor %}

{% if games_data.meta.next_page %}
        <a href="?page={{ games_data.meta.current_page|add:-1 }}">Previous Page</a>
        <a href="?page={{ games_data.meta.current_page|add:1 }}">Next Page</a>
    {% endif %}


</body>
</html>