<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Players Infos</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'index' %}">Players</a></li>
        <li><a href="{% url 'teams' %}">Teams</a></li>
        <li><a href="{% url 'games' %}">Matchs</a></li>
        <li><a href="{{request.META.HTTP_REFERER}}">Go back</a></li>
    </ul>
    </nav>
    <h1>Player Details</h1>
    <p>
        <div style = "border:black; border-width:5px; border-style:solid; width:250px">
        <strong>Name:</strong> {{ player_data.first_name }} {{ player_data.last_name }}<br>
        <strong>Position:</strong> {{ player_data.position }}<br>
        <strong>Height (Feet):</strong> {{ player_data.height_feet }}<br>
        <strong>Height (Inches):</strong> {{ player_data.height_inches }}<br>
        <strong>Weight (Pounds):</strong> {{ player_data.weight_pounds }}<br>
</div><br>
        <div style = "border:black; border-width:5px; border-style:solid; width:250px">
            <strong>Team:</strong> <a href="{% url 'team_details' player_data.team.id %}">{{ player_data.team.full_name }}</a><br>
        </div>
    </p>
</body>
</html>