<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1> SIGN UP BELOW</h1>
    {% for message in messages %}
    <h2>{{message}}</h2>
    {% endfor %}
    <form method="POST" action="register">
        {% csrf_token %}
        <p>USERNAME</p>
        <input type="text" name="username"/>
        <p>EMAIL</p>
        <input type="email" name="email"/>
        <p>PASSWORD</p>
        <input type="password" name="password"/>
        <p>ENTER YOUR PASSWORD AGAIN</p>
        <input type="password" name="password1"/><br>
        <input type="submit"/>
    </form>
    <a href="{% url 'login'%}">login</a>
</body>
</html>