<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'index' %}">Players</a></li>
        <li><a href="{% url 'teams' %}">Teams</a></li>
        <li><a href="{% url 'games' %}">Matchs</a></li>
        <li><a href="{{request.META.HTTP_REFERER}}">Go back</a></li>
    </ul>
    </nav>
    {% block content %}
        Hello {{ user.username }}!
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% endblock %}

<h1>NBA Teams List</h1>
        {% for teams in teams_data.data %}
            <div style = "border:black; border-width:5px; border-style:solid; width:250px">
                <li>
                    <strong>Name:</strong> <a href="{% url 'team_details' teams.id %}">{{ teams.full_name}}</a><br><br>
                </li>
            </div>
            <br>
        {% endfor %}


</body>
</html>