<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Infos</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'index' %}">Players</a></li>
        <li><a href="{% url 'teams' %}">Teams</a></li>
        <li><a href="{% url 'games' %}">Matchs</a></li>
        <li><a href="{{request.META.HTTP_REFERER}}">Go back</a></li>
    </ul>
    </nav>
    <h1>Team Details</h1>
    <p>
        <div style = "border:black; border-width:5px; border-style:solid; width:250px">
            <strong>Team Name:</strong> {{ team_data.full_name }}<br>
            <strong>TEAM Abbrevation:</strong> {{ team_data.abbreviation }}<br>
            <strong>TEAM City:</strong> {{ team_data.city }}<br>
            <strong>TEAM Conference:</strong> {{ team_data.conference }}<br>
            <strong>TEAM Division:</strong> {{ team_data.division }}<br>
            <strong>TEAM Name:</strong> {{ team_data.name }}<br>
        </div>
    </p>
    <h2>Team Players</h2>
    <ul>
        {% for player in players_data.data %}
            <div style = "border:black; border-width:5px; border-style:solid; width:250px">
                <li>
                    <strong>Name:</strong> <a href="{% url 'players_infos' player.id %}">{{ player.first_name }} {{ player.last_name }}</a><br><br>
                </li>
            </div>
        <br>
        {% endfor %}
    </ul>
</body>
</html>